# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Test results
TestResults/

# NuGet
*.nupkg
packages/

# ASP.NET / .NET
appsettings.Development.json

# Publish output
publish/